<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid justify-content-start">
            {% block content %}
            {% if condition %}
            <button class="btn btn-outline-danger me-2" type="button" onclick="window.location.href = '/login';">Main
                button</button>
            {% else %}
            <button class="btn btn-outline-success me-2" type="button" onclick="window.location.href = '/login';">Main
                button</button>
            {% endif %}
            {% endblock content %}
            <form action="/joueurs" method="GET">
                <button class="btn btn-sm btn-outline-secondary" type="submit" name="pageNum" value=1>Joueurs</button>
            </form>
            <form action="/equipes" method="GET">
                <button class="btn btn-sm btn-outline-secondary" type="submit" name="pageNum" value=1>Equipes</button>
            </form>
            <form action="/matchs" method="GET">
                <button class="btn btn-sm btn-outline-secondary" type="submit" name="pageNum" value=1>Matchs</button>
            </form>
        </div>
    </nav>
</head>

<body style="background-color:gray;">
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ playerInfo['first_name'] }} {{ playerInfo['last_name'] }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% block body %}
                {% if playerInfo['position'] %}
                <li class="list-group-item">Position : {{ playerInfo['position'] }}</li>
                {% endif %}
                {% if playerInfo['height_feet'] %}
                <li class="list-group-item">Height feet : {{ playerInfo['height_feet'] }}</li>
                {% endif %}
                {% if playerInfo['height_inches'] %}
                <li class="list-group-item">Height inches : {{ playerInfo['height_inches'] }}</li>
                {% endif %}
                {% if playerInfo['weight_pounds'] %}
                <li class="list-group-item">Weight pounds : {{ playerInfo['weight_pounds'] }}</li>
                {% endif %}
                {% endblock body %}
            </ul>
            <div class="card-body">
                <form action="/equipe" method="POST">
                    <p> Team :
                        <button class="btn btn-primary " type="submit" name="id"
                            value="{{ playerInfo['team']['id'] }}">{{
                            playerInfo['team']['name'] }}</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>