{% extends "base.html" %} {% block title %}Player{% endblock %}

{% block content %}

<body style="background-color:gray;">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <form action="/joueurs" method="GET">
                {% if (actualPage - 1) >= 1 %}
                <li class="page-item"><button class="page-link" type="submit" name="pageNum"
                        value="{{ actualPage - 1 }}">Previous</button>
                </li>
                {% endif %}
            </form>
            <form action="/joueurs" method="GET">
                {% if (actualPage + 1) <= 52 %} <li class="page-item"><button class="page-link" type="submit"
                        name="pageNum" value="{{ actualPage + 1 }}">Next</button>
                    </li>
                    {% endif %}
            </form>
        </ul>
        <ul class="pagination justify-content-center">
            {% for i in range(27) %}
            {% if i != 0%}
            <form action="/joueurs" method="GET">
                <li class="page-item"><button class="page-link" type="submit" name="pageNum" value="{{ i }}">{{ i
                        }}</button></li>
            </form>
            {% endif %}
            {% endfor %}
        </ul>
        <ul class="pagination justify-content-center">
            {% for i in range(25) %}
            <form action="/joueurs" method="GET">
                <li class="page-item"><button class="page-link" type="submit" name="pageNum" value="{{ i + 28 }}">{{ i +
                        27}}</button></li>
            </form>
            {% endfor %}
        </ul>
    </nav>
    <div class="row row-cols-6 g-3">
        {% for player in allPlayer %}
        <div class="col">
            <div class="card" style="width: 18rem; background-color:darkgrey;">
                <div class="card-body">
                    <h5 class="card-title">{{ player['firstName'] }}</h5>
                    <p class="card-text">{{ player['lastName'] }}</p>
                    <form action="/joueur" method="POST">
                        <button class="btn btn-primary " type="submit" name="id" value="{{ player['idPlayer'] }}">Plus
                            d'information</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}