{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

<body style="background-color:gray;">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <form action="/equipes" method="GET">
                {% if (actualPage - 1) < 1 %} <li class="page-item"><button class="page-link" type="submit"
                        name="pageNum" value="{{ actualPage }}">Previous</button>
                    </li>
                    {% else %}
                    <li class="page-item"><button class="page-link" type="submit" name="pageNum"
                            value="{{ actualPage - 1 }}">Previous</button>
                    </li>
                    {% endif %}
            </form>
            {% for i in range(3) %}
            {% if i != 0%}
            <form action="/equipes" method="GET">
                <li class="page-item"><button class="page-link" type="submit" name="pageNum" value="{{ i }}">{{ i
                        }}</button></li>
            </form>
            {% endif %}
            {% endfor %}
            <form action="/equipes" method="GET">
                {% if (actualPage + 1) > 3 %} <li class="page-item"><button class="page-link" type="submit"
                        name="pageNum" value="{{ actualPage }}">Next</button>
                </li>
                {% else %}
                <li class="page-item"><button class="page-link" type="submit" name="pageNum"
                        value="{{ actualPage + 1 }}">Next</button>
                </li>
                {% endif %}
            </form>
        </ul>
    </nav>
    <div class="row row-cols-6 g-3">
        {% for team in allTeam %}
        <div class="col">
            <div class="card" style="width: 18rem; background-color:darkgrey;">
                <div class="card-body">
                    <h5 class="card-title">{{ team['name'] }}</h5>
                    <form action="/equipe" method="POST">
                        <input type="hidden" name="teamFirst" value=0></input>
                        <input type="hidden" name="teamLast" value=0></input>
                        <input type="hidden" name="page" value="+"></input>
                        <button class="btn btn-primary " type="submit" name="id" value="{{ team['idTeam'] }}">Plus
                            d'information</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>
{% endblock %}